body {
    background-image: url("images/background.png");


}

.containerAvis {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    max-width: 200vh;
    flex-wrap: wrap;
    z-index: 1;
}

.containerAvis .cardAvis {
    position: relative;
    width: 330px;
    height: 250px;
    margin: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);


}

.containerAvis .cardAvis .contentAvis {
    padding: 20px;

    text-align: center;
    transition: 0.5px;
}


.containerAvis .cardAvis:hover {
    transform: translateX(-20px);
    opacity: 1;
}

.containerAvis .cardAvis .contentAvis h2 {
    padding-top: 15px;
    position: absolute;
    top: -0.25px;

    right: 10px;
    font-size: 2rem;
    color: #3e2093;

    pointer-events: none;
}

.checked {
    color: orange;
}

.containerAvis .cardAvis .contentAvis h3 {
    font-size: 3em;
    color: #ff77cd;
    z-index: 1;
}

.containerAvis .cardAvis .contentAvis p {
    font-size: 10;
    color: #6a7199;
    font-weight: 300;
}

.containerAvis .cardAvis .contentAvis a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

}

/*body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: ellipse(130px 140px at right 20%);
}*/
.navBar {
    width: 100%;
    height: 15vh;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    z-index: 1000;

}

header .navBar a {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: #666;
}


header .navBar a:hover {
    color: var(--pink);
}

header .icons a {
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: var(--pink);

}
.container {
   
    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 10px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(218, 203, 228, 0.9);
    border: 2px solid rgba(163, 162, 162, 0.3);
    color: #8a2fbe;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #ffffff;
    background-color: #ff77cd;
    color: #ffffff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}