* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url("images/background.png");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative
}

.navBar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
    cursor: pointer
}

.cart {
    width: 40px;
    cursor: pointer
}

nav {
    flex: 1;
    padding-left: 60 px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.col h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}



.social-links {
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}

.social-links a {
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;

}

.card {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 5%;

    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5;

}


.card:hover {
    transform: translateY(-10px);
}

.row {
    display: flex;
    height: 60%;
    align-items: center;
}

.col {
    margin-left: 10%;
    margin-top: 10%;
    flex-basis: 50%;
}

.col p {
    font-size: 20px;
    color: #6a7199;
}

.col h3 {
    margin-top: 90%;
    color: #fff;

}

.form-box {
    width: 90%;
    max-width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;

}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #232d60;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #232d60;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: #ad5cad;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.btn-field button {
    flex-basis: 48%;
    background: #ad5cad;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}