.heading {
    background-color: #D8F2FF;

    text-align: center;
    font-size: 4rem;
    color: #87adfe;
    padding: 1rem;
    margin: 2rem 0;
}

.heading span {
    color: #ff77cd;

}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;

}

.about .row .video-container {
    flex: 1 1 40rem;
    position: relative;

}

.about .row .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #ffff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;

}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 30px;
    color: #232d60;

}

.about .row .content p {
    font-size: 20px;
    color: #6a7199;
}