:root {
    --pink: #ff77cd;
}

/* Cibler tous les elements du page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

header .navBar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}


header .navBar a:hover {
    color: var(--pink);
}

header .icons a {
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: var(--pink);

}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
}

.home .content {
    padding-left: 50px;
    padding-top: 10px;

}

.home .content h1 {
    font-size: 40px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}

.home .content p {
    font-size: 20px;
    color: #6a7199;
}

.btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.arrow-icons {
    margin-top: 40px;
    display: flex;

}

.arrow-icons img {
    width: 40px;
    margin-right: 25px;

}

.row {
    display: flex;
    align-items: center;
}

.col {
    margin-left: 10%;
    margin-top: 10%;
    flex-basis: 50%;
}

.col p {
    font-size: 20px;
    color: #6a7199;
}

.col h3 {
    margin-top: 90%;
    color: #fff;

}

.card {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 5%;

    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5;

}

.card1 {
    background-image: url("images/fem2.jpg");

}

.card2 {
    background-image: url("images/hom.jpg");

}

.card3 {
    background-image: url("images/enfant1.jpg");

}

.card4 {
    background-image: url("images/fem1.jpg");

}

.card:hover {
    transform: translateY(-10px);
}

.social-links {
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}

.social-links a {
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;

}




/*Media queries*/
@media (max-width:991px) {
    html {
        font-size: 55%;

    }

    header {
        padding: 2rem;
    }
}

@media (max-width:768px) {

    header .navBar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
    }

    header .navBar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #eee;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h1 {
        font-size: 30px;
    }

}

@media (max-width:450px) {
    html {
        font-size: 50%;

    }


}