body{
    background-image: url("images/pxfuel\(1\).jpg");
}
.container{
    margin: 70px;
    margin-left: 120px;
    padding-left: 15px;
    background-color: #224fc4;
    border-radius: 100px;
    width: 1100px;
    height: 500px;
}
text{
    float: right;
    width: 300px;

}
.container earth{
    width: 700px;
    height: 630px;
    float: left;
}

