:root {
    --pink: #ff77cd;
    --blue: #87ADFE;
    --blueDark: #232D60;
    --grey: #6A7199;
    --black: #333;
    --white: #fff;
    --bg-color: #ffffffb2;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid var(--black);
}

* {
    font-family: "Lucida Console", Courier, monospace;

}

.home {
    margin-top: 10%;
    margin-left: 30%;
    background-image: none;
}

html {
    background-image: url("../images/background.png");
}

.btn {
    width: 30%;
    opacity: 0.8;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    text-align: center;
}


.message {
    display: block;
    background: var(--bg-color);
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 2rem;
    text-align: center;
}



.admin-product-form-container.centered {
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.admin-product-form-container form {

    max-width: 50rem;
    padding: 2rem;
    border-radius: .5rem;
    background: var(--bg-color);
}

.admin-product-form-container form h3 {
    text-transform: uppercase;
    color: #87adfe;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}

.label {
    width: 100%;
    font-size: 1.7rem;
    color: var(--blueDark);
    text-transform: none;
}

.required {
    color: red;
}

.sexe {
    font-size: 1.5rem;
    color: grey;
}

.admin-product-form-container form .box {
    width: 100%;
    border-radius: .5rem;
    padding: 1.2rem 1.5rem;
    font-size: 1.7rem;
    margin: 1rem 0;
    background: var(--white);
    text-transform: none;
}

.product-display {
    margin: 2rem 0;
}

.product-display .product-display-table {
    width: 100%;
    text-align: center;
}

.product-display .product-display-table thead {
    background: var(--bg-color);
}

.product-display .product-display-table th {
    padding: 1rem;
    color: #87adfe;
    font-size: 1.5rem;
}


.product-display .product-display-table td {
    padding: 1rem;
    font-size: 2rem;
    border-bottom: var(--border);
}