:root {
    --pink: #ff77cd;
    --blue: #87ADFE;
    --blueDark: #232D60;
    --grey: #6A7199;
    --black: #333;
    --white: #fff;
    --bg-color: #ffffffb2;
    --box-shadow: 0 g.5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid var(--black);
}

* {
    font-family: "Lucida Console", Courier, monospace;

}

.content {
    display: flex;
}

body {
    background-image: url("../images/prodBack.png");
    background-position: center;

}

.home {
    margin-top: 10%;
    background-image: none;
}


.btn {
    width: 30%;
    opacity: 0.7;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    text-align: center;
}


.message {
    display: block;
    background: var(--bg-color);
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 2rem;
    text-align: center;
}



.admin-product-form-container {
    margin-left: 5%;


}

.admin-product-form-container form {

    max-width: 50rem;
    padding: 2rem;
    border-radius: .5rem;
    background: var(--bg-color);
}

.admin-product-form-container form h3 {
    text-transform: uppercase;
    color: #232D60;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}

.label {
    width: 100%;
    font-size: 1.7rem;
    color: var(--blueDark);
    text-transform: none;
}

.required {
    color: red;
}

.sexe {
    font-size: 1.5rem;
    color: grey;
}

.admin-product-form-container form .box {
    width: 100%;
    border-radius: .5rem;
    padding: 1.2rem 1.5rem;
    font-size: 1.7rem;
    background: var(--white);
    text-transform: none;
}



.product-display {
    width: 100%;
    overflow-y: scroll;
    height: 500px;
}

.product-display .product-display-table {
    width: 100%;

    height: 40%;
    text-align: center;
}

.product-display .product-display-table thead {
    background: var(--bg-color);
}

.product-display .product-display-table th {
    padding: 1rem;
    color: #232D60;
    font-size: 1.5rem;
}


.product-display .product-display-table td {
    padding: 1rem;
    font-size: 2rem;
    border-bottom: var(--border);
}

.topixText {
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
}

#style-15::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-15::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-15::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#4D9C41),
            to(#19911D),
            color-stop(.6, #54DE5D))
}