#ContactUsSection {
    min-height: 50vh;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.container1 {
    margin-left: 15%;
    width: 80%;
    background: #fff;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contactUs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactUs .left-side {
    width: 25%;
    height: 100%;
    position: relative;
}

.contactUs .left-side .details {
    margin-left: 14px;
    text-align: center;

}

.contactUs .left-side::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.contactUs .left-side .details i {
    font-size: 30px;
    color: #3e2093
}

.contactUs .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.contactUs .left-side .details .text-one,
.contactUs .left-side .details .text-two,
.contactUs .left-side .details .text-two a,
.contactUs .left-side .details .text-one a {
    font-size: 14px;
    color: #afafb6;

}

.contactUs .right-side {
    width: 75%;
    height: 100%;
    margin-left: 75px;
}

.contactUs .right-side .topixText {
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
}

.inputBox {
    height: 50px;
    width: 100%;
}

.inputBox input,
.inputBox textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 12px;
    resize: none;
}

#subject {
    min-height: 110px;
    margin-top: 6px;
    padding-top: 10px;
}

.right-side .btnn {
    display: inline-block;
    color: #fff;
    margin-top: 90px;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8PX 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-side .btnn:hover {
    background: #5029bc;
}