:root {
    --pink: #ff77cd;
}


/* Cibler tous les elements du page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", Courier, monospace;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

ul {
    display: inline-block;
}

.imageContactUs {
    animation: animate 3s linear infinite;
    width: 20%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;

}

.navBar {
    width: 100%;
    height: 15vh;
    margin-left: 11px;
    display: flex;
    align-items: center;
}

#btns {
    justify-content: space-between;
}

.navBar2 {
    height: 15vh;
    margin-left: 55%;
    display: flex;
    align-items: center;
}

header .navBar2 a {
    font-size: 1rem;
    padding: 0 1rem;
    color: #666;
}

header .navBar2 a:hover {
    color: var(--pink);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 2%;
    display: flex;
    align-items: center;


}

header .navBar a {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: #666;
}


header .navBar a:hover {
    color: var(--pink);
}



.home {
    display: flex;
    align-items: center;
    min-height: 90vh;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
}

.home .content {
    padding-left: 50px;
    padding-top: 10px;

}

.home .content h1 {
    font-size: 40px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}

.home .content p {
    font-size: 20px;
    color: #6a7199;
    animation-duration: 3s;
    animation-name: slidein;
}

.btn {
    background-color: #232d60;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.arrow-icons {
    margin-top: 40px;
    display: flex;

}

.arrow-icons img {
    width: 400px;
    margin-right: 25px;

}

.row {
    display: flex;
    align-items: center;
}

.col {
    margin-left: 10%;
    margin-top: 10%;
    flex-basis: 70%;
}

.col p {
    font-size: 20px;
    color: #6a7199;
}



.col h3 {
    margin-top: 90%;
    color: #fff;

}

.card {
    width: 170px;
    height: 170px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 5%;

    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: width 2s, height 4s;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);


}

.card:hover {
    width: 230px;
    height: 230px;
}

.card1 {
    background-image: url("../images/fem2.jpg");

}

.card2 {
    background-image: url("../images/hom.jpg");

}

.card3 {
    background-image: url("../images/enfant1.jpg");

}

.card4 {
    background-image: url("../images/fem1.jpg");

}

.card:hover {
    transform: translateY(-10px);
}

.social-links {
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}

.social-links a {
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;

}


.cart {
    width: 40px;
    cursor: pointer;

}

#lienEnfant {
    margin-left: 25%;
}



/*Media queries*/
@media (max-width:991px) {
    html {
        font-size: 55%;

    }

    header {
        padding: 2rem;
    }
}



@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }

}

form span {
    position: relative;
    margin-left: 4px;
    font-size: 15px;
    color: red;
}

form span i {
    color: seagreen;
    margin-left: 4px;
}

#displayData {
    width: 80%;
    max-width: 80%;
    min-width: 80%;

}

.rotate {
    -webkit-animation: spin 2s infinite linear;


}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateY(0deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
    }
}